# deploy/minikube/secrets/iam-monitor-api-secrets.yaml.template
apiVersion: v1
kind: Secret
metadata:
  name: iam-monitor-api-secrets
  namespace: musinsa
  labels:
    app: iam-monitor
    component: api
    type: aws-credentials
type: Opaque
data:
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID_BASE64}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY_BASE64}